# Explore here

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [12]:
# Your code here

URL = "https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv"
df = pd.read_csv(URL, sep=';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [16]:
num_continuous = ['emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
num_discrete = ['age', 'duration', 'campaign', 'pdays', 'previous']
categorical = ['job', 'marital', 'education', 'default', 'loan', 'contact', 'month', 'day_of_week', 'poutcome', 'y']

for column in df.columns:
    if   column in (num_continuous):
        df[column] = df[column].astype('int32')
    elif column in (num_discrete):
        df[column] = df[column].astype('float32')
    elif column in (categorical):
        df[column] = df[column].astype('category')


print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  float32
 1   job             41188 non-null  category
 2   marital         41188 non-null  category
 3   education       41188 non-null  category
 4   default         41188 non-null  category
 5   housing         41188 non-null  object
 6   loan            41188 non-null  category
 7   contact         41188 non-null  category
 8   month           41188 non-null  category
 9   day_of_week     41188 non-null  category
 10  duration        41188 non-null  float32
 11  campaign        41188 non-null  float32
 12  pdays           41188 non-null  float32
 13  previous        41188 non-null  float32
 14  poutcome        41188 non-null  category
 15  emp.var.rate    41188 non-null  int32
 16  cons.price.idx  41188 non-null  int32
 17  cons.conf.idx   41188 non-null  int32
 18  euribor3m       41188 non-null  int32
 19  nr.employed     41188 non-null  int32
 20  y               41188 non-null  category
dtypes: category(10), float32(5), int32(5), object(1)
memory usage: 2.3+ MB
None

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.024059,258.285004,2.567593,962.475464,0.172963,0.154171,92.922065,-40.116612,2.922453,5166.849446
std,10.421249,259.279236,2.770014,186.910904,0.494901,1.117657,0.593828,4.657969,1.565326,72.328375
min,17.000000,0.000000,1.000000,0.000000,0.000000,-3.000000,92.000000,-50.000000,0.000000,4963.000000
25%,32.000000,102.000000,1.000000,999.000000,0.000000,-1.000000,93.000000,-42.000000,1.000000,5099.000000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.000000,93.000000,-41.000000,4.000000,5191.000000
75%,47.000000,319.000000,3.000000,999.000000,0.000000,1.000000,93.000000,-36.000000,4.000000,5228.000000
max,98.000000,4918.000000,56.000000,999.000000,7.000000,1.000000,94.000000,-26.000000,5.000000,5228.000000